#case-study {
    padding-top: 72px;
}

.cs-heading {
    width: 73%;
    margin: auto;
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cs-heading h1 {
    padding: 5px 20px;
    background-color: #B9FF66;
    margin-bottom: 10px;
    font-size: 2rem;
}

.cs-heading p {
    padding: 8px;
    max-width: 600px;
    line-height: 1.6;
}

.cs-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
    width: 70%;
    position: relative;
}

.cs-card {
    flex: 1;
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.cs-card p {
    margin-bottom: 20px;
}

.cs-card a {
    color: #B9FF66;
    text-decoration: none;
    font-weight: bold;
}

.cs-card a span {
    display: inline-block;
    margin-left: 5px;
    transition: margin-left 0.2s;
}

.cs-card a:hover span {
    margin-left: 10px;
}

.cs-divider {
    display: inline-block;
    height: 120px;
    min-height: 1em;
    width: 2px;
    background-color: #f0f0f0;
    opacity: 1;
    vertical-align: top;
  }